body {
    background-color:rgb(222, 222, 207);
    font-family: Stencil Std, fantasy;
    color: midnightblue;
    margin: 0;
    padding: 0;
    height: 100vh;
    overflow: hidden;
    caret-color: transparent;
}

#container {
    display: flex;
    height: 100%;
}

#sidebar {
    border-right: 5px groove gray;
    width: 300px;
    flex-shrink: 0;
    padding: 10px;
}

#slider-container {
    display: flex;
    flex-flow: column;
    align-items: center;
}

.sidebar-title {
    font-size: 24px;
}

#slider {
    padding: 0 10px;
    width: 90%;
}

#slider-range {
    display: flex;
    font-size: 10px;
    width: 100%;
    justify-content: space-between;
}

#mode-container {
    align-self: stretch;
    margin-top: 80px;
}

#mode-title {
    text-align: center;
}
ul {
    padding: 0;
}
.mode-li {
    list-style: none;
    padding: 5px;
}

.mode-checkbox {
    margin-right: 20px;
    transform: scale(1.5);
}

#pixel-setter {
    width: 100%;
}

#range-one{
  margin-left: 10px;
}

#range-two{
    justify-self: flex-end;
}

#main {
    overflow: hidden;
    display: flex;
    width: 100%;
    flex: 5;
    gap: 50px;
    flex-flow: column;
    justify-content: flex-start;
    align-items: center;
    padding: 20px;
}


#title {
    font-size: xx-large;
}

#canvas {
    display: flex;
    flex-flow: column;
    max-width: 100%;
    aspect-ratio: 1 / 1;
    flex: 1;
    border: 2px solid orange; 
    /* align-items: stretch; */
}

.row {
    display: flex;
    flex: 1;
    /* align-items: stretch; */
}

.pixel {
    flex: 1;
    border: .5px solid lightgray;
}

.black {
    flex: 1;
    border: .5px solid lightgray;
    background-color: black;
}
